@charset "UTF-8";

:root{
    --cor1: #72D3EE;
    --cor2: #2AC1EB;
    --cor3: #2298B8;
    --cor4: #13586B;
    --cor5: #335F6B;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor5));
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 40%;
    color: white;
}
fieldset{
    border: 3px solid var(--cor2);
}

legend{
    border: 1px solid var(--cor2);
    padding: 10px;
    text-align: center;
    background-color: var(--cor2);
    border-radius: 8px;
    color: white;
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.inputLabel{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5px;
}

.inputUser:focus ~ .inputLabel,
.inputUser:valid ~ .inputLabel{
    top: -20px;
    font-size: 12px;
    color: var(--cor2);
    transition-duration: .5s;  
}

#nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit{
    background-image: linear-gradient(to right, rgb(0, 140, 255), rgb(187, 5, 187));
    width: 100%;
    border: none;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right, rgb(6, 116, 206), rgb(122, 6, 122));
    font-weight: bold;
}